# Ignorar pastas
src\AeroGA.egg-info\
__pycache__

# Ignorar o arquivo de teste
test.ipynb
test.py
AeroGA_old.py
results.xlsx
AeroGA_copy.py
AeroGA_copy copy.py

Resultados

# Ignorar tipos de arquivo
*.egg-info
*.pyc
*.xlsx
*.txt
.ipynb_checkpoints