# Ignorar arquivo .txt
usefull_comands.txt

# Ignorar o arquivo de teste
test.ipynb
test.py
AeroGA_old.py
results.xlsx
AeroGA copy.py

src/AeroGA.egg-info/

__pycache__
*.pyc
*.xlsx
*.txt
.ipynb_checkpoints