################################################
################ Ignorar pastas ################
################################################
src\AeroGA.egg-info\
__pycache__
Resultados
img
env

################################################
########## Ignorar o arquivo de teste ##########
################################################
test.ipynb
test.py
AeroGA_old.py
results.xlsx
AeroGA_copy.py
AeroGA_copy copy.py
AeroGA copy.py

################################################
########### Ignorar tipos de arquivo ###########
################################################
*.egg-info
*.pyc
*.xlsx
*.txt
.ipynb_checkpoints
*.log
*.jpg
*.ipynb

################################################
############ Ignorar html do report ############
################################################
report.html
parallel_plot.html